<div id="page-header">
    <p id="page-text" class="col-12">Select your PC's:</p>
    <button id="search-add-btn" class="btn btn-primary">add new PC</button>
</div>
<div id="page-selections" class="mt-4 container">

</div>