<div class="mt-5">
    <div class="card mx-auto w-50">
        <p class="lead card-header">Welcome to Battle Cards!</p>
        <div id="main-page-updates" class="p-3">
            <p><b>Battle Cards</b> is a Dungeons & Dragons 5e encounter companion! Enter your players, your monsters, and then
                run the encounter whenever you need it!</p>
        </div>

        <div id="main-page-btns" class="d-grid col-12 gap-3 mx-auto p-3">
            {{!-- route to create-encounter --}}
            <a href="/create-encounter/select-pc" id="create-encounter-btn" type="button"
                class="btn btn-outline-primary btn-lg col-12">new encounter</a>
            {{!-- router to create-player --}}
            <a href="/html/create-player.html" id="add-pc-btn" type="button"
                class="btn btn-outline-primary btn-lg col-12">add pc</a>
        </div>

    </div>
</div>