<div id="main-page-updates" class="col-12 col-sm-6 mb-5 mx-auto">
    <p class="lead">Welcome to Battle Cards!</p>
    <p><b>Battle Cards</b> is a Dungeons & Dragons 5e encounter companion! Enter your players, your monsters, and then
        run the encounter whenever you need it!</p>
</div>

<div id="main-page-btns" class="d-grid col-12 col-sm-6 gap-3 mx-auto">
    {{!-- route to create-encounter --}}
    <a href="/create-encounter" id="create-encounter-btn" type="button"
        class="btn btn-outline-primary btn-lg col-12">new encounter</a>
    {{!-- router to create-player --}}
    <a href="/html/create-player.html" id="add-pc-btn" type="button"
        class="btn btn-outline-primary btn-lg col-12">add pc</a>
</div>