<div id="page-header" class="col-12 col-sm-6 mb-5 mx-auto">
    <p id="page-text" class="col-12">Select your PC's:</p>
    <button id="add-btn" class="btn btn-primary">add new PC</button>
</div>
<div id="pc-container" class="mt-4 container">

</div>

{{!-- Navigation --}}
<div class="mt-auto">
    <div class="container">
        <div id="footer-navigation" class="col-sm-6 mx-auto pb-3">
            <div id="difficulty-meter" class="alert alert-success mt-2">
                <p id="difficulty-meter-text" class="text-center m-0">DIFFICULTY</p>
            </div>
            <div id="nav-btns" class="btn-group col-12">
                <button id="back-btn" class="btn btn-secondary col-5 mx-1">
                    << back</button>
                        <button id="next-btn" class="btn btn-secondary col-5 mx-1"> next >></button>
            </div>
        </div>
    </div>
</div>

<script type="module" src="/js/selectPc.js"></script>