body {
	font-family: monospace;
}

header {
	background: white;
}

footer {
	background-color: white;
}

.row-title {
	position: relative;
}

.close {
	cursor: pointer;
	position: absolute;
	font-size: 1.5rem;
	top: 50%;
	right: 0%;
	padding: 16px;
	transform: translate(0%, -50%);
}

.disableScroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

/* rows on create new encounter page */
.player-level {
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
}
